<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Degradation Information</title>
</head>
<body>
<h1 style="text-align:center; margin:30px auto;">degradation</h1>
<div align="center">
<img src="/image/{{ tclass.ImageFile }}" width="300" height="300" alt="data" >
</div>
<br/>
<div align="center">
	<p>Date: {{ tclass.ImageDate }}</p>
    <p>imagefile: {{ tclass.ImageFile }}</p>
	<p>Degradation Type: {{ tclass.bm_DegradationType }}</p>
	<p>Degradation Grade: {{ tclass.bm_DegradationGrade }}</p>
</div>
</body>
</html>
